body {
	font-family: "Lato", sans-serif;
	background-image: url(black2.jpg);
	background-size: auto;
	background-repeat: auto;
}
.title {
	font-family: "Baufra", "Aileron", "Corbert Condensed Italic", "DyeLine", "Ubuntu", sans-serif;
	color: #FFFFFF;
	font-size: 50px;
	text-align: center;
}
.container {
	position: relative;
	text-align: center;
	color: white;
	width: fill;
	height: fill;
}
.chapter {
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
	font-family: "courier new", monospace;
}
.chaptername {
	font-style: italic;
	color: #d9d9d9;
	font-size: 30px;
	font-family: "courier new", monospace;
}
.chaptersummary {
	color: #BCBCBC;
	font-size: 24px;
	font-family: didot, largo, arial, sans-serif;
}

img {
	object-fit: contain;
	border: 15px solid #0A0A0A;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Courier New", "Baufra", "Aileron", "Corbert Condensed Italic", "DyeLine", "Ubuntu", sans-serif;
	color: #262626;
	font-size: 50px;
	font-weight: bold;
}
.word {
	font-family: didot, arial;
	color: #D2FFFE;
	font-size: 24px;
}
.button {
	font-family: didot, arial;
	background-color: #262626;
	border: none;
	color: #d9d9d9;
 	padding: 15px 20px;
 	text-align: center;
	text-decoration: none;
 	display: inline-block;
  	font-size: 15px;
  	margin: 5px 5px;
  	cursor: pointer;
  	border-radius: 5px;
}
/*
starting header code
*/
ul {
	list-style-type: none;
	margin-right: 5px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #191919;
	position: fixed;
	top: 0px;
	width: 100%;
	border: 1px solid #191919;
}

li {
	float: left;
	padding: 5px;
}

li a {
	font-family: didot, calibri, arial;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

.active {
	background-color: #D2FFFE;
	color: #191919;
}
/*
end header code
*/